.icon,
.text {
  position: relative;
}
.text {
  line-height: 150%;
}
.icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.top-banner {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--orange-50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) 0;
  gap: var(--gap-4xl);
}
.button,
.logo-icon {
  border-radius: var(--br-5xs);
  flex-shrink: 0;
}
.logo-icon {
  position: relative;
  width: 54px;
  height: 54px;
  overflow: hidden;
  object-fit: cover;
}
.button {
  background-color: var(--white-95);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-xl);
}
.button,
.buttons-container,
.container {
  display: flex;
  align-items: center;
}
.buttons-container {
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.container {
  gap: var(--gap-31xl);
}
.button1,
.buttons-container1,
.container {
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
}
.button1 {
  border-radius: var(--br-5xs);
  background-color: var(--orange-50);
  display: flex;
  align-items: center;
  padding: var(--padding-sm) var(--padding-15xl);
  color: var(--absolute-white);
}
.buttons-container1 {
  gap: var(--gap-11xl);
}
.buttons-container1,
.header,
.navbar {
  display: flex;
  align-items: center;
}
.navbar {
  align-self: stretch;
  border-bottom: 1px solid var(--white-95);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-113xl) var(--padding-5xl);
  color: var(--grey-15);
}
.header {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 1860px;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--absolute-white);
}
.button2,
.buttons-container2,
.sub-container {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.button2 {
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.buttons-container2,
.sub-container {
  align-items: flex-start;
}
.buttons-container2 {
  width: 392px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.sub-container {
  flex-direction: column;
  gap: var(--gap-21xl);
}
.heading {
  font-weight: 600;
}
.heading,
.text-button8 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.buttons-container3 {
  align-self: stretch;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--grey-35);
}
.button5,
.buttons-container3,
.container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container2 {
  flex: 1;
  gap: var(--gap-sm);
}
.button5 {
  border-radius: var(--br-5xs);
  background-color: var(--white-97);
  border: 1px solid var(--white-95);
  flex-shrink: 0;
  padding: var(--padding-sm);
}
.buttons-container5 {
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.buttons-container5,
.container1,
.sub-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sub-container1 {
  width: 807px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
}
.container1 {
  align-self: stretch;
  justify-content: space-between;
}
.line,
.text3 {
  align-self: stretch;
  position: relative;
}
.line {
  border-top: 1px solid var(--white-95);
  box-sizing: border-box;
  height: 1px;
}
.text3 {
  line-height: 150%;
  color: var(--grey-40);
  text-align: center;
}
.footer-section {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--absolute-white);
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-81xl) var(--padding-143xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
}
.heading3,
.paragraph {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.heading3 {
  font-weight: 600;
}
.paragraph {
  font-size: var(--font-size-lg);
  color: var(--grey-35);
}
.container5 {
  position: absolute;
  top: 283px;
  left: calc(50% - 930px);
  border-bottom: 1px solid var(--white-90);
  box-sizing: border-box;
  width: 1860px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-113xl) var(--padding-31xl);
  gap: var(--gap-81xl);
  font-size: var(--font-size-29xl);
}
.heading4 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.text4 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.input-field {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white-99);
  border: 1px solid var(--white-95);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-xl);
  color: var(--grey-40);
}
.container6,
.sub-container2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sub-container2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.container6 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.container8 {
  flex-direction: column;
  gap: var(--gap-base);
}
.container8,
.form-elements,
.input-field5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-elements {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.input-field5 {
  border-radius: var(--br-5xs);
  background-color: var(--white-99);
  border: 1px solid var(--white-95);
  box-sizing: border-box;
  height: 170px;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-xl);
  color: var(--grey-40);
}
.text12 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.button8,
.form {
  display: flex;
  align-items: center;
}
.button8 {
  border-radius: var(--br-3xs);
  background-color: var(--orange-50);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-5xl);
  text-align: center;
  color: var(--absolute-white);
}
.form {
  flex: 1;
  background-color: var(--absolute-white);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-61xl);
  gap: var(--gap-31xl);
  z-index: 2;
}
.line1 {
  align-self: stretch;
  position: relative;
  border-right: 1px solid var(--white-95);
  box-sizing: border-box;
  width: 1px;
  z-index: 1;
}
.button10,
.button9 {
  border-radius: var(--br-5xs);
  background-color: var(--white-97);
  border: 1px solid var(--white-95);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm);
}
.button9 {
  align-self: stretch;
  flex: 1;
  background-color: var(--white-99);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl);
  gap: var(--gap-xl);
}
.buttons-container6,
.contact-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons-container6 {
  align-self: stretch;
  background-color: var(--absolute-white);
  width: 520px;
  flex-direction: column;
  padding: var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  z-index: 0;
  text-align: center;
  color: var(--grey-30);
}
.contact-section {
  position: absolute;
  top: 595px;
  left: calc(50% - 798px);
  border-radius: var(--br-xs);
  width: 1596px;
  overflow: hidden;
  flex-direction: row;
}
.contact-page-desktop {
  background-color: var(--white-97);
  width: 1920px;
  height: 2146px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--grey-15);
  font-family: var(--font-be-vietnam-pro);
}
