@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-be-vietnam-pro: "Be Vietnam Pro";
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-29xl: 48px;
  --font-size-xl: 20px;
  --font-size-19xl: 38px;
  --font-size-61xl: 80px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-31xl: 50px;

  /* Colors */
  --white-97: #f7f7f8;
  --white-95: #f1f1f3;
  --absolute-white: #fff;
  --white-99: #fcfcfd;
  --grey-15: #262626;
  --color-gray-100: rgba(255, 255, 255, 0.3);
  --color-gray-200: rgba(255, 255, 255, 0.2);
  --grey-40: #656567;
  --grey-35: #59595a;
  --grey-30: #4c4c4d;
  --orange-50: #ff9500;
  --white-90: #e3e3e8;
  --grey-60: #98989a;
  --grey-20: #333;
  --orange-95: #fff4e6;
  --orange-97: #fff9f0;
  --orange-90: #ffeacc;
  --orange-80: #ffd499;

  /* Gaps */
  --gap-31xl: 50px;
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-base: 16px;
  --gap-11xl: 30px;
  --gap-81xl: 100px;
  --gap-5xs: 8px;
  --gap-21xl: 40px;
  --gap-7xs: 6px;
  --gap-7xl: 26px;
  --gap-4xl: 23px;
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-61xl: 80px;
  --gap-mini: 15px;
  --gap-101xl: 120px;
  --gap-281xl: 300px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-61xl: 80px;
  --padding-11xl: 30px;
  --padding-sm: 14px;
  --padding-lg: 18px;
  --padding-5xl: 24px;
  --padding-xl: 20px;
  --padding-113xl: 132px;
  --padding-31xl: 50px;
  --padding-81xl: 100px;
  --padding-143xl: 162px;
  --padding-15xl: 34px;
  --padding-xs: 12px;
  --padding-21xl: 40px;
  --padding-7xs: 6px;
  --padding-3xl: 22px;
  --padding-base: 16px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-3xs: 10px;
  --br-7xs: 6px;
  --br-9xs: 4px;
  --br-81xl: 100px;
  --br-sm: 14px;
  --br-49xl: 68px;
}
